<h1 id="page-title">Studios</h1>
<br/>

<% @studios.each do |studio| %>
  <div id="studio-<%= studio.id %>">
    <h2><%= studio.name %></h2>
    <p>Location: <%= studio.location %></p>

    <h3>Movies:</h3>
    <% studio.movies.each do |movie| %>
      <div id="movie-<%= movie.id %>">
        <h4><%= movie.title %></h4>
        <p>Year: <%= movie.creation_year %></p>
        <p>Genre: <%= movie.genre %></p>
      </div>
    <% end %>
  </div>
  <br/>
<% end %>
